@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: url("../lib/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: italic;
	src: url("../lib/fonts/Roboto-Italic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	src: url("../lib/fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: italic;
	src: url("../lib/fonts/Roboto-MediumItalic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: url("../lib/fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: italic;
	src: url("../lib/fonts/Roboto-BoldItalic.ttf");
}