/**
 * Experience Sampling App 1.0.0
 * This app allows researchers to conduct surveys remotely using the mobile phone on Android and iOS.
 * 
 * This app is developed by BOSONIC in assignment of the department 
 * of Human-Technology Interaction @ Eindhoven, University of Technology.
 * 
 * info@bosonic.design || http://www.bosonic.design/
 * hti@tue.nl || https://www.tue.nl/en/university/departments/industrial-engineering-innovation-sciences/research/research-groups/human-technology-interaction/
 * 
 * Released on: March, 2018
 */

*{
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/*----------styling-----------*/
.statusbar-overlay {
    background: #000000;
}

.navbar{
	background-color: #353E87;
	color: #fff;
	height: 56px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.page{
	background-color: #fff;
	padding: 1.5em 1.5em 0;
}

.toolbar-through .page-content{
	padding: 0;
}

.content-block{
	margin: 70px 1px 33px;
}

.page-content .content-block.survey{
	margin-top: 46px;
	border: 1px solid #000;
}

.page-content .content-block.full{
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin:  0;
	padding: 0em 3em;
}

.initializer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 5;
}

/*----------layout classes-----------*/
.page-content p.center{
	text-align: center;
}

h1.center{
	text-align: center;
	width: 100%;
}

/*----------assets-----------*/
a.index{
	color: #000;
	text-decoration: underline;
}

a.button{
	background-color: #353E87;
	border: 0;
	color: #fff;
	width: auto;
	height: auto;
	min-width: 180px;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	padding: 4px 16px;
	margin-bottom: 20px;
	font-weight: 400;
	border-radius: 15px;
	position: relative;
	overflow: visible;
}

a.button .buttonNotification{
	position: absolute;
	width: 30px;
	height: 30px;
	right: -10px;
	top: -7px;
	background-color: #CD3C65;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	font-size: 15px;
	visibility: hidden;
}

a.button:hover, a.button:active{
	background-color: #CD3C65;
}

a.button.index{
	font-size: 15px;
	padding: 4px 16px;
	min-width: 0px;
	width: 180px;
	margin-bottom: 5px;
	text-decoration: none;
}

a.index.register{
	background-color: #787980;
	margin-bottom: 20px;
}

input.index{
	width: 180px;
	border: none;
	border-bottom: 1px solid;
	margin-bottom: 20px;
}

a.link{
	color: #fff;
	font-size: 12px;
	opacity: 0.5;
}

i.icon.icon-log-out{
	height: 20px;
	width: 20px;
	background-image: url(../lib/framework7/img/i-log-out.svg);
}

i.icon.icon-back{
	height: 20px;
	width: 20px;
	background-image: url(../lib/framework7/img/i-back.svg);
}

/*----------text styles/index-----------*/
h1.index{
	color: #353E87;
	font-size: 50px;
	line-height: 60px;
	font-weight: 700;
}
h2.index{
	color: #CD3C65;
	font-size: 40px;
	line-height: 38px;
	font-weight: 700;
}

input.index{
	
}

h1{
	color: #CD3C65;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 40px;
}

/*-----------messages-------------*/
.messageBlock{
	width: 100%;
	box-sizing:border-box;
	max-width: 100%;
	margin-bottom: 2em;
	display: block;
}

.messageBlock p.time{
	width: 100%;
	color: #cdcdcd;
	margin: 5px;
	display: block;
}

.messageBlock p.content{
	width: 100%;
	background-color: #cdcdcd;
	color: #fff;
	padding: 1em;
	border-radius: 20px;
	border-top-left-radius: 0;
	margin: 0;
	display: block;
}

/*---------survey inputs---------*/
form *{
	box-sizing:border-box;
	font-family: Arial;
	color: #656565;

}

form .required{
	border: 2px solid #f00;
}

.question{
	width:100%;
	font-weight: 500;
    font-size: 16px;
	margin-bottom: 10px;
	margin-top: 30px;
	line-height: 20px;
}

.SOQ, .LOQ, .dateQ, .timeQ, .dropQ{
    padding: 0.5em;
    font-size: 16px;
	width: 100%;
	box-sizing:border-box;
	background: #fff;
	border: 1px solid #CCC;
}

.LOQ{
	height: 150px;
}

.dateQ, .timeQ{
	-webkit-appearance: none;
	min-height: 38px !important;
}

/* Customize the label (the container) */
.checkContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 14px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkContainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkContainer :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkContainer  input:checked ~ .checkmark {
  background-color: #CD3C65;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkContainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer  input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container */
.radiocontainer {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.likert{
	text-align: center;
}

.likert .radiocontainer{
	display: inline-block;
	padding-left: 0px;
	width: 30px;
	height: 40px;
	text-align: center;
}

/* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiocontainer .radiocheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.likert .radiocontainer .radiocheckmark{
	top: 25px;
	left: 5px;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .radiocheckmark {
    background-color: #CD3C65;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocontainer .radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .radiocheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .radiocheckmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.slider{
	text-align: center;
	width: 100%;
	position: relative;
	display: block;
}

.slider input{
    -webkit-appearance: none;
    width: 80%;
    height: 12px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
	display: inline-block;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    background: #CD3C65;
    cursor: pointer;
    border: none;
}

.slider input::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #CD3C65;
    cursor: pointer;
    border: none;
}

.fileContainer{
	text-align: center;
	width: 100%;
}

.fileContainer .optionContainer{
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100px;
	margin-top: 10px;
}

.fileContainer .optionContainer .button{
    text-align:center;
    display:block;
    height:60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #D8D8D8;
    display: inline-block;
}

.fileContainer .optionContainer .button:active{
   background-color: #CD3C65;
}

.fileContainer .optionContainer .button.camera{
    background-image: url('../img/camera.png');
    background-size: 60px 60px;
}
.fileContainer .optionContainer .button.album{
    background-image: url('../img/file.png');
    background-size: 60px 60px;
}
.fileContainer .optionContainer .button.voice{
    background-image: url('../img/microphone.png');
    background-size: 60px 60px;
}
.fileContainer .optionContainer .button.marker{
    background-image: url('../img/map.png');
    background-size: 30px 30px;
}
.fileContainer .optionContainer .button.play{
    background-image: url('../img/play.png');
    background-size: 25px 30px;
	background-position: 20px;
}
.fileContainer .optionContainer .button.stop{
    background-image: url('../img/stop.png');
    background-size: 20px 20px;
}

.fileContainer .preview{
    padding: 1em;
    border: 0.5px solid grey;
    border-radius: 2px;
    width: 100%;
    height: auto;
	min-height: 55px;
    display: block;
}
.fileContainer .preview .close{
    background-image: url('../img/trash.png');
    background-size: 25px 25px;
    background-color: #E5E5E5;
    border-radius: 100%;
    float: right;
    height: 25px;
    width: 25px;
}
.fileContainer .preview .close:active{
    background-color: red;
}

.fileContainer #location{
	text-align: left;
}

#map{
	position: sticky !important;
	position: -webkit-sticky !important;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#map #closeMap{
	position: absolute;
	bottom: 1.5em;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	background-color: #fff;
	text-align: center;
	padding: 1em;
	border-radius: 10px;
}

#map #closeMap:active{
	background-color: #CD3C65;
}

.messageOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	display: none;
}

.messageOverlay span{
	display: table-cell;
	vertical-align: middle;
}

.button#survey_submit{
	margin-bottom: 3em;
	margin-top: 3em;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	color: #CD3C65;
	border: 1px solid #CD3C65;
}

.button#survey_submit:active{
	background-color: #CD3C65;
	color: #fff;
}