/*
highlight-color: #FFF66B;
*/

/*----------styling-----------*/
.statusbar-overlay {
    background: #000000;
}

.navbar{
	background-color: #FFF66B;
}

.page{
	background-color: #fff;
	padding: 1.5em 1.5em 0;
}

.toolbar-through .page-content{
	padding: 0;
}

.content-block{
	margin: 58px 1px 33px;
}

.page-content .content-block.survey{
	margin-top: 46px;
	border: 1px solid #000;
}

.page-content .content-block.full{
	background-color: #FFF66B;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin:  0;
	padding: 0em 3em;
}

/*----------layout classes-----------*/
.page-content p.center{
	text-align: center;
}

/*----------assets-----------*/
a.button{
	background-color: #232323;
	border: 0;
	color: #fff;
	width: auto;
	height: auto;
	min-width: 150px;
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	padding: 8px 20px;
}

/*----------text styles-----------*/
h1{
	color: #000;
	font-size: 50px;
	line-height: 60px;
}
h2{
	color: #666;
	font-size: 40px;
	line-height: 38px;
}